.app {
  padding: 20px;

  header{
    margin-bottom: 30px;
  }

  .ant-tree{
    .ant-tree-switcher{
      display: none;
    }

    > li span.ant-tree-node-content-wrapper:hover:before{
      background: #19171705 !important;
    }

    .ant-tree-node-content-wrapper, .ant-tree-title{
      display: flex;
      justify-content: left;
      align-items: center;

      .node{
        display: flex;
        justify-content: left;
        align-items: center;

        .name, .content.text{
          width: 100px;
          border: dashed 1px lightgrey;
          border-radius: 5px;
          padding: 0 5px;
          outline:none;

          &:empty:not(:focus)::before {
            content: attr(data-placeholder);
          }

          &:focus{
            border: dashed 1px #5297fc;
          }
        }

        .name{
          margin-left: 5px;
          //border: dashed 1px gainsboro;
          border: none;

          &:focus, &:hover{
            border: dashed 1px gainsboro;
          }
        }

        .ant-select-sm{
          margin-left: 5px;
          margin-right: 5px;
        }

        .content{

          &.text{

          }
        }

      }
    }

    .ant-tree-treenode-switcher-open{
      background: transparent;
    }

    .anticon-file{
      display: none;
    }

    .end-handle{
      width: 30px;

      .ant-tree-iconEle{
        display: none;
      }

      .ant-tree-node-content-wrapper{
        padding-left: 1px;
      }

    }

  }

}


